@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

.answer h1 {
  margin: 0.5em 0;
}

.answer h2 {
  margin: 0.5em 0;
}

.answer p {
  margin: 0.5em 0;
}

.answer code {
  font-family: Iosevka Web, Consolas, Courier, monospace;
}

.answer pre {
  overflow-x: scroll;
  border-radius: 3px;
  margin: 0.5em 0;
  color: #c9d1d9;
  background: #0d1117;
  padding: 1em;
}

@font-face {
  font-family: Iosevka Web;
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(/static/Iosevka-Regular.woff2) format("woff2");
}
